<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sj_pro.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.sj_pro.model.User">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
    <select id="checkUser" parameterType="String" resultType="java.util.Map">
        select * from user where account = #{account}
    </select>
    <insert id="addUser" parameterType="com.example.sj_pro.model.User">
        insert into user values(#{name},#{account},#{pwd},#{sex},#{create_time})
    </insert>
</mapper>